
  <div class="wrapper ">
   <app-categories
    (selectCategory)="onSelectCategory($event)" 
    [selectedCategory]="selectedCategory"
    [categories]="categories"
    (deleteCategory)="onDeleteCategory($event)"
    (updateCategory)="onUpdateCategory($event)"
    (addCategory)="onAddCategory($event)"
    (searchCategory)="onSearchCategory($event)"
    [categoryMap]="categoryMap"
    [uncompletedTotal]="uncompletedTotalTasksCount"
    >
    

  </app-categories>
  <div class="main-panel" style="padding-left: 20px !important;">
    
    <app-header
    [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"
    (toggleStat)="toggleStat($event)"
    [showStat]="showStat"
    ></app-header>
    
      <app-stat
      [totalTasksInCategory]="totalTasksCountInCategory"
      [completeTasksInCategory]="completedCountInCategory"
      [uncompleteTasksInCategory]="uncompletedCountInCategory"
      [showStat]="showStat"

      ></app-stat>
    
    <app-tasks 
    
    (updateTask)="onUpdateTask($event)"
    (deleteTask)="onDeleteTask($event)"
    (selectCategory)="onSelectCategory($event)"
    (addTask)="onAddTask($event)"

    [selectedCategory]="selectedCategory"
    (filterByStatus)="onFilterTasksByStatus($event)"
    (filterByTitle)="onSearchTasks($event)"
    (filterByPriority)="onFilterTasksByPriority($event)"


    [tasks]="tasks" 
    [priorities]="priorities"
    ></app-tasks>
   
    </div>
  </div>
  
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown open">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>

    </div>
  </div>
 